In [1]:
#import libraries
import pandas as pd

In [13]:
def dataframe(filename):
    """
    generate a data from frequent k-mer
    filename: file containing k-mers
    returns: a dataframe
    """
    ID,code = filename.split(sep=".")[0],filename.split(sep=".")[4] # ID sample name, code country code as of 1000geneomes

    
    with open(filename) as file:

        k_mer ={}
        for line in file:
            col,row=line.split()[0],line.split()[1]
            k_mer[col]=row
        #create a dataframe from k-mer dictionary
        df = pd.DataFrame.from_dict(k_mer,orient="index")
        #transpose the data frame where k-mers are the features and add country codes
        dft=df.transpose() 
        dft["code"] = code
        dft["sample_id"]=ID
        df=dft.set_index("sample_id")
    
    return df

In [8]:
!ls *.fa >k_merfiles.txt
file=[]
with open("k_merfiles.txt") as f:
    for i in f:
        
        file.append(i.split(sep="\n")[0])

In [15]:
df =pd.DataFrame()

In [16]:
# generate the final dataframe
for i in file:
    d = dataframe(i)
    df=pd.concat([d,df])

In [17]:
df.shape

(11, 32344)

In [18]:
df

,AAAAAAAAAAAAAAAAAAAAAAAAAAA,GGGATTACAGGCACCTGCCACCACACC,GCCTGGCTAATTTTTATATTTTTAGTA,GGCTGGGCACGGTGGCTCACGCCTGTA,AGGCAGGAGAATGGCATGAACCCGGGA,GCTTCTGCACAGCAAAAGAAACTATCA,ACGCCATTGCACTCCAGCCTGGGCAAC,TCTTGGGAGGGTGTATGTGTCGAGGAA,AGTCTTGCTCTGTCTCCCAGGCTGGAG,CCAAAAAAGAGCCCGCATTGCCAAGTC,...,CATTCCATTCCATTCCATTCCACTCGG,ACAACCGGTACCAGCCGCTGCAAAATC,AGGATCACTTGAGCCCAGGAGGTTGAG,CTCCCGACCTCAGGTGATCCACCCGCC,AAAAAAAAAAAAAAAAGAAAAAAAAAA,CTGCACTCTAGCCTGGGCAACAGAGCA,GCAATGGCGCAATCTCAGCTCACTGCA,CAAGTAGCTGGGACTACAGGCACCCAC,AGGCTGGTCTCAAACTCCTGACTTCAG,GAAGGAAGGGAGGGAGGGAGGGAGGGA
sample_id,,,,,,,,,,,,,,,,,,,,,
NA19719,184095,1371,1388,3083,5722,3408,3282,1147,1502,1401,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NA19704,183996,1372,1394,3059,5737,3402,3288,1145,1509,1397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NA19675,184427,1386,1382,3076,5726,3411,3284,1143,1515,1394,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NA19670,184133,1383,1390,3076,5723,3408,3278,1147,1512,1393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NA19669,183749,1390,1381,3065,5743,3406,3287,1147,1508,1398,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NA19467,182829,1460,1389,3086,5757,3411,3287,1145,1516,1397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NA19455,182328,1461,1390,3083,5752,3410,3288,1146,1518,1397,...,1008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HG04227,186881,1464,1388,3083,5753,3411,3280,1146,1514,1396,...,1001,1000,1001,1000,1003,1002,1002,1001,1000,NaN
HG04006,182949,1462,1389,3083,5754,3412,3287,1146,1516,1397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000,1001
HG03838,183205,1462,1388,3081,5752,3412,3286,1146,1517,1397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000,1000
HG02061,4720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.to_csv("../../data/kmerdata.csv")